name: Release Charts

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: Build Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.CR_TOKEN }}
      # - name: Configure Git
      #   run: |
      #     git config user.name "$GITHUB_ACTOR"
      #     git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      # - name: Install Helm
      #   uses: azure/setup-helm@v1
      #   with:
      #     version: v3.4.0
      # - name: Add Dependencies for Helm chart
      #   run: |
      #     helm repo add bitnami https://charts.bitnami.com/bitnami
      # - name: Run chart-releaser
      #   uses: helm/chart-releaser-action@v1.2.1
      #   env:
      #     CR_TOKEN: "${{ secrets.CR_TOKEN }}"
